---
layout: home
title: Home
bodyTag: home
---

<div class="row">
    <div class="span8">

    	{% for post in site.posts limit:1 %}
        <article class="featured">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p class="lead">{{ post.description }}</p>
            <section class="entry">{{ post.content }}</section>
        </article>

        <hr>
        {% endfor %}

    </div>
</div>

<div class="row">
	{% for post in site.posts limit:4 offset:1 %}
	<article class="span6">
	    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
	    <p>
	    	{{ post.description }}
	    	<a href="{{ post.url }}">Read this one</a>.
	    </p>
	</article>
	{% endfor %}
</div>