---
layout: default
title: Home
bodyTag: thoughts
---

<div class="container">
    <div id="page">
        <section>
            
            <h1>All my thoughts <small>as they tumble out of my head</small></h1>
            
            <div class="row-fluid">
            	{% for post in site.posts %}
            	<article class="span4">
            	    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    {% if post.splash %}
                    <img src="{{post.splash}}" alt="{{post.title}}" class="splash">
                    {% endif %}
            	    <p>
            	    	{{ post.description }}
            	    	<a href="{{ post.url }}">Read this one</a>.
            	    </p>
            	</article>
            	{% endfor %}
            </div>
        </section>
    </div>
</div>