
<!-- <h4>Partners</h4>

<a href="http://www.rackspacecloud.com/3430-0-1-19.html" target="_blank"><img border="0" src="http://affiliates.rackspacecloud.com/banners/Powered_the-rackspace-cloud-250-wide.png" width="250" height="69" alt="Powered by Rackspace Cloud Computing"></a>
 -->
<h4>Sponsors</h4>

<a href="http://giffgaff.com/orders/affiliate/koorb" target="_blank"><img src="http://giffgaff.com/banner/09_300x250.png" width="300" height="250" alt="Get a free giffgaff Sim" /></a>

<a href="http://www.mightydeals.com?refID=d791bc" title="Amazing Deals for Designers"><img src="/img/mightydeals.png" alt="Mighty Deals"></a>