<div id="affiliates">

    <h4>Get something cool</h4>

    <ul class="nav nav-tabs nav-stacked">
        <li><a href="http://giffgaff.com/orders/affiliate/koorb">
            <strong>giffgaff</strong><br>
            Unlimited internet &amp; texts for £12
        </a></li>
        <li><a href="http://graphicriver.net?ref=koorb">
            <strong>Graphicriver</strong><br>
            Graphics, Vectors and Print
        </a></li>
    </ul>

</div>

<p class="hint">
    <img src="/img/aside-arrow.png" alt="Arrow pointing up">
    I've made some cool things over at Graphicriver &amp; GiffGaff is just cool.
</p>
