
<div id="affiliates">
	<!-- <h4>Partners</h4>

	<a href="http://www.rackspacecloud.com/3430-0-1-19.html" target="_blank"><img border="0" src="http://affiliates.rackspacecloud.com/banners/Powered_the-rackspace-cloud-250-wide.png" width="250" height="69" alt="Powered by Rackspace Cloud Computing"></a>
	 -->

	<h4>Sponsors</h4>

	<ul class="nav nav-tabs nav-stacked">
		<li><a href="http://giffgaff.com/orders/affiliate/koorb">
			<strong>giffgaff</strong><br>
			Unlimited internet &amp; texts for £10
		</a></li>
		<li><a href="http://graphicriver.net?ref=koorb">
			<strong>Graphicriver</strong><br>
			Graphics, Vectors and Print
		</a></li>
		<li><a href="https://dealotto.com?a=191">
			<strong>Dealotto</strong><br>
			Daily deals for the lucky
		</a></li>
		<li><a href="http://www.mightydeals.com?refID=d791bc">
			<strong>Mighty Deals</strong><br>
			Exclusive deals for web professionals
		</a></li>
	</ul>

</div>

<p class="hint">
	<img src="/img/aside-arrow.png" alt="Arrow pointing up">
	Click a link for a great deal and it will also help keep my kids fed =)
</p>