
<div class="row">

    <div class="span6">
        <div class="socialLinks">
            <a href="http://twitter.com/richstandbrook"><i class="icon-twitter"></i></a>
            <a href="https://github.com/koorb"><i class="icon-github"></i></a>
            <a href="http://pinterest.com/richstandbrook/"><i class="icon-pinterest"></i></a>
            <a href="https://plus.google.com/109441264042298402962/posts"><i class="icon-google-plus-sign"></i></a>
        </div>
    </div>

    <div class="span6">
        <ul class="nav nav-pills affiliates pull-right">
            <li><a href="http://giffgaff.com/orders/affiliate/koorb">
                <strong>giffgaff</strong>
                Unlimited internet &amp; texts for £12
            </a></li>
            <li><a href="http://graphicriver.net?ref=koorb">
                <strong>Graphicriver</strong>
                Graphics, Vectors and Print
            </a></li>
        </ul>
    </div>

</div>